@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  background-color: #F4F4F4;
}

/* TAILWIND CUSTOM */
@layer components {
  .btn {
    @apply min-w-[150px] h-[54px] rounded-[45px] px-[14px] py-[13px] flex items-center justify-center disabled:bg-gray-200 disabled:text-gray-400
  }
  .btn-primary {
    @apply bg-[#16ABF8]
  }
  .btn-secondary {
    @apply bg-[#F4F4F4]
  }
  .btn-secondary > i {
    @apply text-[#4A4A4A]
  }
  .btn-secondary > span {
    @apply text-[#4A4A4A]
  }
  .btn-danger {
    @apply bg-[#ED4C5C]
  }

  .card-item {
    @apply relative px-[27px] py-[22px] shadow-[0px_4px_8px_rgba(0,0,0,0.15)] w-full bg-white rounded-[12px] h-[234px]
  }
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.35);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  overflow-x: hidden;
  overflow-y: auto;
}
#modal-dialog .modal-dialog-centered {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 12px;

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  transform: translateY(-600px);
  transition: all 0.4s ease;
  margin: 1.75rem auto;
}
#modal-dialog.show {
  visibility: visible;
  opacity: 1;
}
#modal-dialog.show .modal-dialog-centered {
  transform: translateX(0);
}

#modal-dialog .modal-dialog-centered.modal-delete {
  max-width: 500px;
}

#modal-dialog .modal-dialog-centered .modal-content {
  position: relative;
}

#modal-dialog .modal-dialog-centered.modal-md {
  max-width: 830px;
}
#modal-dialog .modal-dialog-centered.modal-md {
  max-width: 830px;
}