@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  background-color: #F4F4F4;
}

/* TAILWIND CUSTOM */
@layer components {
  .btn {
    @apply min-w-[150px] h-[54px] rounded-[45px] px-[14px] py-[13px] flex items-center justify-center disabled:bg-gray-200 disabled:text-gray-400
  }
  .btn-primary {
    @apply bg-[#16ABF8]
  }
  .btn-secondary {
    @apply bg-[#F4F4F4]
  }
  .btn-secondary > i {
    @apply text-[#4A4A4A]
  }
  .btn-secondary > span {
    @apply text-[#4A4A4A]
  }
  .btn-danger {
    @apply bg-[#ED4C5C]
  }

  .card-item {
    @apply relative px-[27px] py-[22px] shadow-[0px_4px_8px_rgba(0,0,0,0.15)] w-full bg-white rounded-[12px] h-[234px]
  }
}

.modal-content {
  position: fixed;
  /* top: 0;
  left: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 1px solid #ccc;
  background: #fff; */
  /* overflow: auto; */
  /* border-radius: 4px; */
  outline: none;
  /* padding: 20px; */

  /* width: 100%; */
  /* height: 100vh; */

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal-body {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
  padding-right: 15px;
}


#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  /* display: none; */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}