@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  background-color: #F4F4F4;
}

/* TAILWIND CUSTOM */
@layer components {
  .btn {
    @apply min-w-[150px] h-[54px] rounded-[45px] px-[14px] py-[13px] flex items-center justify-center disabled:bg-gray-200 disabled:text-gray-400
  }
  .btn-primary {
    @apply bg-[#16ABF8]
  }
  .btn-secondary {
    @apply bg-[#F4F4F4]
  }
  .btn-secondary > i {
    @apply text-[#4A4A4A]
  }
  .btn-secondary > span {
    @apply text-[#4A4A4A]
  }
  .btn-danger {
    @apply bg-[#ED4C5C]
  }

  .card-item {
    @apply relative px-[27px] py-[22px] shadow-[0px_4px_8px_rgba(0,0,0,0.15)] w-full bg-white rounded-[12px] h-[234px]
  }
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog-centered {
  z-index: 1060;
  position: relative;
  min-height: calc(100% - 3.5rem);
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: 1.75rem auto;
  pointer-events: none;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal-content {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.2);
  pointer-events: auto;
  width: 100%;
}

.modal-dialog-centered.modal-add-activity {
  max-width: 830px;
}